@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat&display=swap');
p{
margin: 0;
padding: 0;
}
body{
background: #ecf0f3;
}
P{
text-align:center;
font-family: Montserrat;
display: block;
margin: 2px auto;
width : 56%;
}
input{
font-family: Montserrat;
border-width : 0px;
background: #ecf0f3;
height : 30px;
box-shadow: inset 4px 4px 9px #d1d9e6,
            inset -4px -4px 9px #fff;
border-radius: 7px;
margin: 0 auto;
text-align:center;
}
button{
font-family: Montserrat;
font-size : 16px;
width : 175px;
height : 50px;
border-width : 0px;
border-radius: 15px;
background: linear-gradient(145deg, #d4d8db, #fdffff);
box-shadow:  8px 8px 17px #c6cacc,
             -8px -8px 17px #ffffff;
margin : 12px auto
}
button:hover{
    background: linear-gradient(315deg, #b3b6b8, #d5d8da);
}
button:active {
	position:relative;
	top:1px;
}
#up{
width : 100%;
display : inline-block;
}
#down{
min-height: 290px;
width : 100%
}
#leftbar{
min-height: 540px;
width: 20%;
float:left;
}
#centerfield{
min-height: 540px;
width: 60%;
float:left;
}
#notation{
min-height: 540px;
width: 20%;
float:left;
}
#leftmenu{
width : 100%;
min-height : 130px;
}
#input_countNodesVision{
width : 100%;
min-height : 400px;
}
#cyto{
width : 98%;
min-height : 490px;
margin : 5px 8px 5px 5px  ;
}
#move{
width : 100%;
min-height : 65px;
display: flex;
align-content: center;
justify-content: space-around;
align-items : center;
font-family: Montserrat;
font-size : 18px;
}
#notcontent{
width : 95%;
min-height : 535px;
border-radius: 30px;
background: #ecf0f3;
box-shadow: 5px 5px 10px #d1d9e6, -5px -5px 10px #fff;
margin: 5px 15px 0px;
}
#buttonnotation{
display: flex;}
#textnotation{
width: 100%;
min-height : 490px;
}
#labelNot{
position : relative;
text-align:center;
font-size: 26px;
display: block;
padding: 10px 0 0 0;
}
#Helpers{
height: 180px;
width: 100%;
float:left;
margin-left : 10px ;
}
#checklistDiv{
margin-top : 40px;
max-height: 140px;
width: 100%;
display: flex;
flex-flow: column wrap;
}
#HelpersStat{
height: 180px;
width: 100%;
float:left;
margin-left : 10px ;
}
#checklistDivStat{
margin-top : 40px;
max-height: 140px;
width: 100%;
display: flex;
flex-flow: column wrap;
}
#Charts{
width: 35%;
float: left;
height: 290px;
}
#ChartsStats{
width: 20%;
float: left;
min-height: 290px;
}
#SaveLoad{
width: 20%;
float: right;
min-height: 180px;
}
#selectedText{
margin : 0 ;
background-color : rgba(0, 250, 154, 0.2);
}
#btn-reset{
font-size : 20px;
width : 50px;
height : 50px;
border-width : 0px;
border-radius: 50px;
background: linear-gradient(145deg, #d4d8db, #fdffff);
box-shadow:  5px 5px 10px #c6cacc,
             -5px -5px 10px #ffffff;
margin : 12px auto;
margin-left: 6px;
position: absolute;
}
#btn-reset:hover{
    background: linear-gradient(315deg, #b3b6b8, #d5d8da);
}
#btn-reset:active {
	top:13px;
}
#upload-data{
font-size : 20px;
width : 50px;
height : 50px;
margin-left: 6px;
margin-top : 74px;
position: absolute;
border-width : 0px;
border-radius: 50px;
background: linear-gradient(145deg, #d4d8db, #fdffff);
box-shadow:  5px 5px 10px #c6cacc,
             -5px -5px 10px #ffffff;
justify-content: center;
align-items: center;


}
#upload-data:hover{
    background: linear-gradient(315deg, #b3b6b8, #d5d8da);

}
#uploadDiv {
display: flex;

justify-content: center;
align-items: center;
position: relative;

}
#input_save-nameDiv{
display: block;
width: 50%;
margin: 0 auto;
text-align : center;
font-family: Montserrat
}
#labelNotla{
font-family: Montserrat}
#average_min_max{
width: 100%;
text-align:left;}